**/classes
**/target
**/out
**/log
**/.artifacts
**/.cpcache
**/.DS_Store
**/.gradle
**/.env

*.jar
*.class

# Polylith-specific
/components/**/target

# User-specific stuff


# File-based project format
*.iws
*.ipr

# Cursive Clojure plugin
.idea
*.iml

/example/example/**
artifacts
projects/**/pom.xml

# nrepl
.nrepl-port

# clojure-lsp
.lsp/.cache

# clj-kondo
.clj-kondo/.cache

# Calva VS Code Extension
.calva/output-window/output.calva-repl
