{:aliases {:dev  {:extra-paths ["development/src"
                                "development/resources"]

                  :extra-deps  {poly+integrant/system                     {:local/root "bases/system"}
                                poly+integrant/config                     {:local/root "components/config"}
                                poly+integrant/embedded-pg                {:local/root "components/embedded-pg"}
                                poly+integrant/pg-ops                     {:local/root "components/pg-ops"}
                                poly+integrant/workload                   {:local/root "components/workload"}
                                poly+integrant/executor                   {:local/root "components/executor"}

                                integrant/repl                            {:mvn/version "0.3.3"}

                                org.clojure/clojure                       {:mvn/version "1.11.1"}
                                org.clojure/tools.logging                 {:mvn/version "1.2.4"}

                                org.slf4j/slf4j-nop {:mvn/version "2.0.3"}
                                ;;ch.qos.logback/logback-classic {:mvn/version "1.5.12"}
                                }}

           :test {:extra-paths ["bases/system/test"]}

           :poly {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:mvn/version "0.2.18"}}}}}
