{:deps {poly+integrant/system                     {:local/root "../../bases/system"}
        poly+integrant/config                     {:local/root "../../components/config"}
        poly+integrant/embedded-pg                {:local/root "../../components/embedded-pg"}
        poly+integrant/pg-ops                     {:local/root "../../components/pg-ops"}
        poly+integrant/workload                   {:local/root "../../components/workload"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
